.container {
    display: flex;
}

.infoBar {
    background-color: var(--primary-subtle-color);
    width: 8px;
    display: flex;
    justify-content: center;
}

.infoBar svg {
    flex: none;
    margin-top: 15px;
    background-color: var(--background-color);
    padding: 4px;
    box-sizing: content-box;
    border-radius: 50%;
    fill: var(--primary-subtle-color);
}