@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background-color: #FFFFFF;
    --primary-foreground-color: #333333;
    --secondary-foreground-color: #000;
    --primary-subtle-color: #4B99B8;
    --secondary-subtle-color: #C22B20;
    --link-color: #335075;
    --primary-border-color: #C4C4C4;
    --secondary-border-color: #000;
    --primary-button-color: #477D22;
    --error-text-color: #C22B20;
}

html,
body {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: var(--primary-foreground-color);
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}